#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}

#contact .container{
    margin-top:7% ;
    
}

div.row{
    justify-content: center;
}
*, ::after, ::before {
    box-sizing: content-box !important;
}
.col-sm-12.col-md-6.col-lg-3.my-5
{
    margin-top: 0rem!important;
    margin-bottom: 0rem!important;
}